*{
    margin: 0;
    background-color: goldenrod;
}
.one{
    background-color: azure;
    font-family: fantasy;
    font-size: small;
}
.ugvey{
    background-image: -moz-element();
}
.oui{
    font-family:Arial;
    size:20px;
    weight: 320;
}

.blor{
    color: blueviolet;
}
.blorid{
    color: brown;
}
.roling{
margin: 10%;
padding: 10%;
}
.derreedd{
justify-self: start;
margin-right: 2%;
}
.de5crftvy{
    font-size: larger;
    font-display: fallback;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-weight: 200;
}
.tdu{
width: 100%;
}
.one1{
    background-color: azure;
    font-family: fantasy;
    font-size: larger;
}
.sifj{
     background-color: azure;
    font-family: fantasy;
    font-size: larger;
    font-size: larger;
    font-display: fallback;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-weight: 200;

}
.liddregal{
    background-color: goldenrod;
}
.liddr{
    background-color: gold;
    font-style: oblique;
    font-size: x-large;
}
.bh{
    padding: 5%;
}
